<div class="outlet">
  <div class="card">
    <p-menubar [model]="items" />
  </div>
</div>


<!-- <nav
  class="navbar navbar-expand-sm navbar-light bg-light"
>
  <div class="container">
    <a class="navbar-brand">ProjectHammeau</a>
    <button
      class="navbar-toggler d-lg-none"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#collapsibleNavId"
      aria-controls="collapsibleNavId"
      aria-expanded="false"
      aria-label="Toggle navigation"
    > 
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="register">Inscription</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="login">Connexion</a>
        </li>
        
   
 -->
