<!-- <p>profil works!</p> -->
<div class="outlet">
    <div class="card" style="width: 25rem;" >
        <img src="https://media.glamourmagazine.co.uk/photos/656723b4b530ec28d6276554/16:9/w_2560%2Cc_limit/Article-inset-landscape-2.jpg" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">{{mesInfos.pseudo}}</h5>
          <div class="card-text">
                
                <p>{{mesInfos.name}}</p>
                <p>{{mesInfos.firstName}}</p>
                <p>{{mesInfos.email}}</p>

          </div>
          <button type="button" class="btn btn-danger">déconnecter</button>
        </div>
      </div>
</div>
