
<div class="outlet">
    <div class="card">
    <p>Welcome to the HELL!</p>
    
    <p-card header="Project Hameau" subheader="------------------------------" [style]="{ width: '360px' }">
        <ng-template pTemplate="header">
            <img alt="Card" src="https://wallpapers.com/images/hd/mia-khalifa-wearing-a-suit-7eqmr734xd960yam.jpg" />
        </ng-template>
        <p>
            -. .  -.-. .... . .-. -.-. .... . --..  .--. .- ...  --.- ..- . .-.. --.- ..- . ...  -.-. .... --- ... . ...  -.. . 
            ..-. --- -. -.-. - .. --- -. -. . .-..  .--. .- .-.  .. -.-. .. --..--  .-.. .  -.. ..-.. ...- . .-.. --- .--. 
            .--. . ..- .-.  -. .----. . ... -  --.- ..- .----. ..- -.  .--. . - .. -  .--- ..- -. .. --- .-.  --.- ..- .. 
            .-  -.-. .-. .- -- ..-..  .-.. . ... ....-  -.. . .-. -. .. . .-. ...  -. . ..- .-. --- -. . ...  --.- ..- .. 
            .-.. ..- ..  .-. . ... - .- .. - .-.-.-
        </p>
        <ng-template pTemplate="footer">
            <div class="flex gap-3 mt-1">
                <p-button label="Tchat" (Click)="goToChat()" severity="secondary" class="w-full" styleClass="w-full" />
                
            </div>
        </ng-template>
    </p-card>
</div>
</div>